@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.container{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    background: #ddd;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box1{
    width: 250px;
    height: 300px;
    background: orangered;
    margin: 0px 10px;
    font-family: 'lobster', cursive;
    font-size: 30px;
     transition: 1s;
}
.box2{
    width: 250px;
    height: 300px;
    background: blueviolet;
    margin: 0px 10px;
    font-family: 'lobster', cursive;
    font-size: 30px;
    transition: 1s;
}
.box3{
    width: 250px;
    height: 300px;
    background: #00ccff;
    margin: 0px 10px;
    font-family: 'lobster', cursive;
    font-size: 30px;
    transition: 1s;
}
.box1:hover{
    transform: scale(1.3);
    background: #ff800a;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;    
}
.box2:hover{
    transform: scale(1.3);
    background: #ff800a;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;    
}
.box3:hover{
    transform: scale(1.3);
    background: #ff800a;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;    
}